/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7e5d7;
    color: #59481d;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Stylisation du header */
header {
    background: linear-gradient(45deg, rgba(231, 229, 215, 0.9), rgba(149, 119, 99, 0.8)); /* Dégradé subtil avec une transparence légère */
    color: #59481d;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre subtile pour contraste */
    backdrop-filter: blur(5px); /* Flou subtil en arrière-plan pour l'effet holographique */
}
header .titre h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

#header {
    margin-top: 10px;
}

#header a {
    color: #59481d;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

#header a:hover {
    color: #957743;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style pour l'image du logo */
.logo-img {
    width: 10em;
    height: auto;
}
.container {
    text-align: center;
    padding: 50px 20px;
}
.buttons {
    margin-top: 30px;
}
.buttons button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    background-color: #957743;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons button:hover {
    background-color: #59481d;
}
.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Contenu principal */
.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 4rem auto;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Stylisation du footer */
footer {
    background-color: #59481d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
#import{
    display:flex;
}
section#import button {
    padding: 1em;
    margin: 1em;
    background-color: #e2eba7;
    color: #474e23;
    border-radius: 5em;
    font-family: cursive;
}
section#import button:hover {
    background-color: #474e23;
    color: #e2eba7;
    box-shadow: 0 0 50px 5px;
}
.importform {
    margin: 1em;
    align-self: center;
    align-items: center;
}
input[type="submit"] {
    padding: 1em;
    border-radius: 5em;
    font-family: cursive;
    color: white;
    background-color: #474e23;
}
/* Conteneur principal pour l'historique, les boutons et les formulaires */
.container-content {
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Barre de défilement pour l'historique */
#history {
    width: 40%;
    background-color: #e2eba7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    overflow-y: auto;
}

#history h2 {
    font-size: 1em;
    font-family: cursive;
    margin-bottom: 10px;
    color: #474e23;
}

#history-files {
    display: flex;
    flex-direction: column;
}

.history-file {
    background-color: #59481d;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
}

.history-file:hover {
    background-color: #957743;
}

#history{
    cursor: help;
}


/* Section pour les boutons d'upload */
#import {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#import button ,#compareButton{
    padding: 1em;
    margin: 1em;
    background-color: #e2eba7;
    color: #474e23;
    border-radius: 5em;
    font-family: cursive;
}

#import button:hover ,#compareButton.enabled{
    background-color: #474e23;
    color: #e2eba7;
    box-shadow: 0 0 50px 5px;
}

/* Style des formulaires */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
}

form input[type="text"], form input[type="file"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 1em;
    border-radius: 5em;
    font-family: cursive;
    color: white;
    background-color: #474e23;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #957743;
}

/* Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #e2eba7;
    padding: 5em;
    margin: 10em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
    color: #474e23;
}

.popup-button {
    background-color: #957743;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #59481d;
}

.popup-close {
    background-color: #474e23;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-close:hover {
    background-color: #957743;
}


/* Style général pour les éléments de dossier */
.folder-toggle {
    font-size: 20px;  /* Taille de la police plus grande pour les dossiers */
    background-color: #4CAF50;  /* Couleur de fond plus professionnelle */
    color: white;  /* Texte blanc */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.folder-toggle:hover {
    background-color: #45a049;  /* Couleur de survol */
}

/* Style pour l'icône du dossier */
.icon-folder {
    font-size: 24px; /* Augmente la taille de l'icône du dossier */
    margin-right: 10px;
}

/* Style pour les boutons de fichiers */
.history-file {
    background-color: #2196F3;  /* Couleur des boutons de fichiers */
    color: white;
    padding: 8px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.history-file:hover {
    background-color: #0b7dda;  /* Couleur au survol des fichiers */
}

/* Effet de tabulation pour les sous-dossiers */
ul ul {
    margin-left: 20px;  /* Ajout de l'indentation pour les sous-dossiers */
}

/* Icone de dossier en survol */
.folder-toggle:hover .icon-folder {
    transform: rotate(180deg);  /* Animation de l'icône pour donner un effet de rotation */
    transition: transform 0.3s;
}

/* Ajout d'une ligne sous les boutons de mode actif */
#mode-switch {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#mode-switch button {
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    background-color: #957743;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#mode-switch button.active {
    position: relative;
    border-bottom: 3px solid #e2eba7; /* Ligne en dessous du bouton actif */
    box-shadow: 0 0 10px #e2eba7; /* Effet lumineux */
    background-color: #59481d; /* Optionnel : changer la couleur de fond */
}

#mode-switch button:hover {
    background-color: #59481d;
}

#mode-switch button.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e2eba7; /* Couleur lumineuse */
    box-shadow: 0 0 10px #e2eba7;
}
/* Style de base du bouton Comparer */
.compare-button {
    position: relative;
    background: linear-gradient(135deg, #59481d, #453a14);
    color: #e2eba7;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.6; /* Bouton désactivé */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Bouton activé */
.compare-button:enabled {
    opacity: 1;
}

/* Effet au survol */
.compare-button:hover:enabled {
    background: linear-gradient(135deg, #453a14, #59481d);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 10px #e2eba7;
    transform: scale(1.05);
}

/* Animation */
.compare-button:hover:enabled,
.compare-button:enabled::after {
    transition: all 0.3s ease;
}

/* Rendre l'historique plus large */
#history {
    width: 50%; /* Augmenté de 40% à 50% */
    margin-right: 20px;
}

/* Ajustement pour éviter que le contenu déborde */
.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Espacement entre les sections */
}

/* Centrage du footer */
footer {
    background-color: #59481d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.context-menu {
    position: absolute;
    z-index: 1000;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}

#controls {
    position: absolute;
    top: 200px; /* Ajuste la position verticale selon tes besoins */
    left: 120px; /* Positionne les contrôles à gauche */
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent pour les contrôles */
    padding: 10px;
    border-radius: 8px;
    z-index: 1000; /* Assure que les contrôles apparaissent au-dessus de la carte */
}

#map {
    width: 100%;
    height: 500px;
}

.selected-button {
    border: 2px solid #6b5eba; /* Bordure bleue pour le bouton sélectionné */
    background-color: #f0f8ff; /* Fond légèrement bleu pour le bouton sélectionné */
}




.project-management {
    margin: 2rem 0;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-management h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.project-actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.select-project-form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-selection {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project-selection select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    flex-grow: 1;
}

.add-project-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add-project-button:hover {
    background-color: #0056b3;
}

.add-project-button i {
    font-size: 1rem;
}

.create-project-form {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fefefe;
    animation: slideDown 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.create-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.create-button:hover {
    background-color: #218838;
}

.cancel-button {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.cancel-button:hover {
    color: #a71d2a;
}

.active-project {
    margin-top: 1rem;
    font-size: 1rem;
    color: #007bff;
}

.info-message {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #6c757d;
}

/* Animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*mes simulation view*/

 .switcher-container {
     width: 80%;
     margin: auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     background-color: #f9f9f9;
 }

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #e0e0e0;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #957743;
    color: white;
}

.tabs-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}